@charset "UTF-8";

body {
    background: #f3f4ec url(../imagens/fundo.png) repeat-x;
    font: 12px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #af670a;
}

a:hover {
    color: #227115;
}

header {
    width: 1080px;
    height: 55px;
    margin: 0 auto;
}

#logo {
    text-indent: -9999px;
    background: url(../imagens/logo.png) no-repeat;
    display: block;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
    margin-right: 20px;
}

nav ul li a {
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #227115;
}